.container {
  position: relative;
  overflow: hidden;
  color: var(--darkgrey);
  padding: 3px 12px;
  border-radius: 13px;
  font-size: small;
  cursor: pointer;
  list-style: none;
  color: inherit;

  &::before {
    content: '';
    opacity: 0;
    background-color: currentColor;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  &:hover::before {
    opacity: .04;
  }

  &.active {
    color: var(--main-color);

    &::before {
      opacity: .12;
    }
  }

  &:not(.active) {
    background-color: #e0e0e0;
  }
}

.outline {
  border: 1px solid currentColor;
  &:not(.active) {
    background-color: transparent;
  }
}

.label {
  border-radius: 4px;
}

.small {
  padding: 0 3px;
  font-size: x-small;
}
